body, html {
	font-family: "Verdana", sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #1c424d;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
h1 strong {
	font-weight: 900;
}
/*Called by medium section*/
h2 {
    font-family: "Verdana", sans;
    font-weight: 500;  /* medium */
    letter-spacing: 2pt;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: "Verdana", sans-serif;
	font-size: 18px;
}
a {
	color: #5b777f;
	transition: all 0.5s;
}
/* .btn is only used in medium display, but one has to set it as important */
/* to overwrite the settings in bootstrap.css */
/* be careful, this impact all button settings in this style.css */
.btn {
	background: #666666 !important;
	border: 2px solid #dadada !important;
	border-radius: 4px !important;
	padding: 6px 14px !important;
	margin-top: 20px !important;
    color: #f6f6f6 !important;
	font-size: 16px;
	transition: all 0.5s;
}
.btn:hover {
	background: transparent !important;
    color: #666666 !important;
}
a:hover, a:focus {
	text-decoration: none;
	color: #f1c40f;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #032e3a;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0;
}
.section-title h2 {
	font-family: "Verdana", sans;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
    color: #666666;
	margin-bottom: 26px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #626a29;
	border: 0;
	margin-bottom: 30px;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #f6f6f6;
	border-color: #d9d5d2;
    font-family: "Verdana", sans;
    font-weight: 400;  /* regular */
}
#menu .navbar-header {
    display: inline-block;
    width: fit-content;
}
#menu .navbar-header img {
    width: 10%;
}
#menu .navbar-icon {
    width: 10%;
    /*float: left;*/
    padding: 15px 15px 15px 15px;
}
#menu a.navbar-brand {
	/*text-transform: uppercase;*/
	font-size: 22px;
	/*color: #d9e0e2;*/
	color: #73706e;
	font-weight: 500;
	letter-spacing: 1px;
    /*display: inline-block;*/
}
#menu a.navbar-brand img {
        width: 10%;
        /*float: left;*/
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #73706e;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	/*color: #f3ca27;*/
	color: #bfbdba;
}
/*menu bar when scroll down*/
.on {
	background-color: #d9d5d2 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	/*color: #f3ca27 !important;*/
	color: #bfbdba !important;
	background-color: transparent;
}
/*Mobile menu bar button*/
.navbar-toggle {
	margin-left: 10px;
	border-radius: 2;
    border-width: medium;
    float: left;
}
/*Mobile menu bar (hover & focus)*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d9d5d2;
	border-color: #d9d5d2;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */
header {
	background: url(../img/header-bg.jpg) no-repeat bottom center;
	background-size: cover;
	color: #d9e0e2;
	position: relative;
	height: 100%;
	width: 100%;
}
header h1 {
        font-family: "Verdana", sans;
        font-weight: 500;  /* medium */
        letter-spacing: 10pt;
        text-align: left;
}
header p {
	color: #d9e0e2;
	font-size: 20px;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 60px;
	font-family: "Verdana", sans;
	text-transform: uppercase;
    color: #e2ddcb;
	letter-spacing: 1px;
}
.intro-text p {
	font-size: 24px;
	font-family: "Verdana", sans;
	text-transform: uppercase;
	color: #e2ddcb;
    text-align: left;
	letter-spacing: 1px;
}
.color {
	color: #f3ca27;
}
.btn-default {
	color: #f6f6f6 !important;
	font-family: 'Verdana', sans;
	text-transform: uppercase;
	background-color: transparent !important;
	border: 0;
	margin: 0 8px;
	font-size: 16px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: rgb(210,184,151) !important;
    color: #f6f6f6 !important;
}
/* Services Section */
#services-section {
	padding: 80px 0 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(247,254,255,1) 20%, rgba(247,254,255,1) 100%, rgba(247,247,247,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(247,254,255,1) 20%, rgba(247,254,255,1) 100%, rgba(247,247,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(247,254,255,1) 20%, rgba(247,254,255,1) 100%, rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032731', endColorstr='#032731', GradientType=0 ); /* IE6-9 */
	color: rgb(48,48,48);
}
#services-section p {
        font-family: "DroidSerif", sans-serif;
        font-weight: 400;  /* regular */
        font-size: 20px;
        text-align: justify;
	    margin-top: 16px;
	    margin-left: 10px;
	    margin-right: 10px;
        color: #666666;
        vertical-align: middle;
}
#services-section hr {
	background: rgb(48,48,48);
}
#services-section h2 {
	font-family: "Verdana", sans;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 26px;
    color: #666666;
}
#services-section h4 {
	font-family: "Verdana", sans;
    color: #666666;
}
#services-section .thumbnail {
	background: transparent;
	border: 0;
}
img.img-normal.feature {
	width: 120px;
	height: 120px;
	border: 1px solid transparent;
	transition: all 0.5s;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 40px;
	border: 0;
	width: 100px;
	height: 80px;
	padding: 22px 25px;
	background: #032934;
	margin-bottom: 6px;
	border-radius: 10%;
	color: #f3ca27;
	transition: all 0.5s;
}
#services-section .service:hover>i.fa {
	background: #0b3540;
}
/* Gallery Section 
==============================*/
#works-section {
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background: rgb(193,166,24); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 ); /* IE6-9 */
}
#works-section i.fa {
	font-size: 30px;
	padding: 5px;
	color: #f1c40f;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
#works-section hr {
	background: #a9971c;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #51633d;
	border: 1px solid #f7dc6f;
	padding: 8px 16px;
	border-radius: 3px;
}
ol.type li a.active {
	background: #f7dc6f;
}
ol.type li a:hover {
	background: #f7dc6f;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #c0cbce;
	background: rgba(3, 46, 58, 0.8);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 20px;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
.portfolio-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #f1c40f;
}
.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 2.5em;
}
.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
	margin: 10px 0 30px;
	font-size: 14px;
	font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}
.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}
.portfolio-modal .close-modal:hover {
	opacity: .3;
}
.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.portfolio-modal .btn-primary {
	color: #a7b6ba;
	background-color: #1d434e;
	border-color: #1d434e;
}
.portfolio-modal .btn-primary:hover, .portfolio-modal .btn-primary:focus, .portfolio-modal .btn-primary.focus, .portfolio-modal .btn-primary:active, .portfolio-modal .btn-primary.active {
	color: #a7b6ba;
	background-color: #032e3a;
	border-color: #032e3a;
}
/* About Section */
#about-section {
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
	background: rgb(3,39,49); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032731', endColorstr='#032731', GradientType=0 ); /* IE6-9 */
	color: #5b777f;
}
#about-section h4 {
	color: #81969c;
	font-size: 20px;
}
#about-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#about-section li:before {
	content: "✓";
	color: #f3ca27;
	padding-right: 5px;
}
/* Team Section */
#team-section {
    color: #f6f6f6;
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background: #9ac3c4; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac3c4', endColorstr='#9ac3c4', GradientType=0 ); /* IE6-9 */
}
#team-section p {
        font-family: "DroidSerif", sans-serif;
        font-weight: 400;  /* regular */
        font-size: 20px;
        color: #666666;
        text-align: justify;
}
#team-section hr {
	background: #a9971c;
}
#team-section h2 {
	font-family: "Verdana", sans;
	font-weight: 400;
	letter-spacing: 2px;
    color: #f6f6f6;
}
#team-section h3 {
        font-family: "Verdana", sans;
        font-weight: 400;  /* regular */
        font-size: 20px;
}
#team-section h4 {
        font-family: "Verdana", sans;
        font-weight: 300;  /* light */
        font-size: 16px;
}
#team-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}

img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 9px;
	/*color: #1c424d;*/
	color: #f6f6f6;
}
#team-section i.fa {
	font-size: 16px;
	/*color: #faeaab;*/
	color: rgb(255,255,255);
	margin-top: 10px;
}
#team-section i.fa:hover {
	/*color: #1c424d;*/
	color: rgb(210,184,151);
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 50%;
	/*background: #42626b;*/
	background: rgb(48,48,48);
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	/*background: #f1c40f;*/
	background: rgb(210,184,151);
}
.owl-theme .owl-controls .owl-page.active span {
	/*background: #f1c40f;*/
	background: rgb(210,184,151);
}
/* Testimonials Section */
#testimonials-section {
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
        /*
	background: url(../img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #5b777f;
        */

	background: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6', GradientType=0 ); /* IE6-9 */
	color: rgb(48,48,48);
    font-family: "Verdana", sans;
}
#testimonials-section h2 {
    font-family: "Verdana", sans;
    font-weight: 400;  /* regular */
    letter-spacing: 2pt;
    color: #666666;
}
#testimonial {
	padding: 30px 0;
}
#testimonials-section p.caption{
    font-family: "Verdana", sans;
	margin-top: 30px;
    font-size: 16px;
    color: #666666;
}
#testimonials-section p.item-caption{
    font-family: "Verdana", sans;
	margin-top: 30px;
    font-size: 16px;
    color: #666666;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 0 0 30px 0;
}
#testimonial .item p.media {
	font-weight: 400;
	margin: 0 0 30px 0;
    color: #666666;
}
#testimonial .item p.quote {
        font-style: italic;
        text-align: middle;
        color: #666666;
}
#testimonial i.fa {
	font-size: 16px;
	/*color: #faeaab;*/
	color: #666666;
	margin-top: 10px;
}
#testimonial i.fa:hover {
	color: #d4cfbb;
}
/* Medium Section */
/* https://github.com/chrisj74/vue-rss-blog/blob/master/src/components/Grid.vue */
/* https://medium.com/@Sriram23/how-to-embed-medium-blogs-in-websites-e7f70feec920 */
/* components not here: .btn */

#post-container.rtb-modal .container{
  background: #f6f6f6 !important;
}
#post-container.rtb-modal .container h1{
   font-size:30px !important;
   line-height: 36px !important;
}
#post-container.rtb-modal .container p.medium-feed-link{
   position: fixed;
   width: 80%;
   background-color: rgb(217, 213, 210, .8);
   /* make border transparent */
   border: 10px solid rgb(217, 213, 210, .8);
   -moz-background-clip: border;     /* Firefox 3.6 */
   -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
   background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

   -moz-background-clip: padding;     /* Firefox 3.6 */
   -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
   background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

   -moz-background-clip: content;     /* Firefox 3.6 */
   -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
   background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

   color: #f6f6f6;
   border-radius: 4px;
   bottom: 10px;
   right: 0;
}
#post-container.rtb-modal .rtb-close {
   margin-top: 100px;
   background: #666666 !important;
   border-radius: 50%;
   width: 40px !important;
   height: 40px !important;
   line-height: 30px !important;
   position: fixed;
   top: 10px;
   right: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   cursor: pointer;
}

#post-container.rtb-modal .rtb-close span{
    margin-top: 0px;
    color:#f6f6f6 !important;
    font-size:30px !important;
    font-family: "Verdana", sans;
}

#post-container.rtb-modal{
    position:fixed;
	margin-top: 100px;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    z-index:999;
    background:hsla(0,0%,100%,.9);
    overflow:auto;padding-bottom:50px
}
#medium-section {
    color: #9ac3c4;
    font-family: "Verdana", sans;
	padding: 80px 0 20px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background: #f2eeeb;
}
#medium-section h2.title{
    font-family: "Verdana", sans;
    font-weight: 400;  /* regular */
    letter-spacing: 2pt;
    color: #666666;
	margin-top: 20px;
	margin-bottom: 60px;
}
#medium-section .btn {
    display: none;
	background: transparent;
	border: 2px solid #dadada;
	border-radius: 4px;
	padding: 6px 14px;
	margin-top: 16px;
	margin-bottom: 16px;
	color: #666666;
	font-size: 16px;
	transition: all 0.5s;
}

#medium-section .btn:hover, #medium-section .btn:focus {
	background: #e2ddcb;
	border: 2px solid #fef9e7;
	color: #666666;
}
#medium-section .text-danger {
	color: #cc3300;
	text-align: left;
}
#medium-section h2 {
	    font-size: 18px;
        font-family: "Verdana", sans;
        font-weight: 500;  /* medium */
        letter-spacing: 2pt;
        color: #666666;
}
#medium-section .post-date {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  position: absolute;
  top: -28px;
  font-size: 14px;
  border-radius: 6px;
  border: 20px rgb(217, 213, 210, 0.85);
  background-color: transparent;
  padding: 4px;
  color: #73706e;
}
#medium-section p {
        display: none;
}
#medium-section li {
        display: none;
}
#medium-section h3 {
        display: none;
}
#medium-section h4 {
        display: none;
}
#medium-section figcaption {
        display: none;
}
#medium-section blockquote {
        display: none;
}
#medium-section pre {
        display: none;
}
#medium-section strong {
        display: none;
}
#medium-section .post-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: auto;
  display: block;
  &:after {
    content: "";
    display: block;
    position: relative;
    margin-top: 60%;
    width: 100%;
    z-index: 1;
  }
}
#medium-section .rtb-col {
  margin-bottom: 20px;
}
#medium-section .excerpt {
  max-height: 15em;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5em;
  position: relative;
}
#medium-section .read-more {
  position: relative;
}
/* Contact Section */
#contact-section {
    color: #666666;
	padding: 80px 0 20px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background: #f6f6f6;
}
#contact-section hr {
	background: #f6f6f6;
}
#contact-section h2 {
        font-family: "Verdana", sans;
        font-weight: 500;  /* medium */
        letter-spacing: 2pt;
        color: #666666;
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
    color: #666666;
}
#contact-section label, p {
        font-family: "DroidSerif", sans-serif;
        font-weight: 400;  /* regular */
        font-size: 20px;
        color: #666666;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section .fa {
	/*color: #f8e287;*/
	margin-bottom: 10px;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .social {
	margin-top: 60px;
}
#contact-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact-section .social i.fa {
	font-size: 26px;
	padding: 4px 5px;
	/*color: #f8e287;*/
	color: #f6f6f6;
	transition: all 0.5s;
}
#contact-section .social i.fa:hover {
	color: #032731;
}
#contact-section .btn {
	background: transparent !important;
	border: 2px solid #dadada;
	border-radius: 4px;
	padding: 6px 14px;
	margin-top: 20px;
    color: #666666 !important;
	font-size: 16px;
	transition: all 0.5s;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #e2ddcb !important;
	border: 2px solid #fef9e7;
	color: #666666 !important;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer */
#footer {
	background: rgb(48,48,48);
	padding: 15px 0 10px 0;
	color: rgb(255,255,255);
	text-align: center;
	padding: 80px 0 30px 0;
}
#footer p {
	margin-top: 10px;
        font-family: "Verdana", sans;
        font-weight: 400;  /* regular */
        font-size: 16px;
}

#footer i.fa {
	font-size: 32px;
	/*color: #faeaab;*/
	color: rgb(255,255,255);
	margin-top: 10px;
}
#footer i.fa:hover {
	/*color: #1c424d;*/
	color: rgb(210,184,151);
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: #f6f6f6;
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}
